* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: url('https://images.alphacoders.com/876/thumb-1920-876316.jpg') center/cover no-repeat;
    color: white;
    height: 100vh;
}

.menu {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    width: 100%;
}

.menu-btn {
    font-size: 24px;
    margin-right: 10px;
}

.menu h1 {
    flex: 1;
    text-align: center;
    font-size: 20px;
}

.tela {
    display: flex;
    margin-top: 60px;
    align-items: center;
    justify-content: center;

}

.hidden {
    display: none;
}

/* --- CARD PADRÃO --- */
.card {
    background: #c45d5d;
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    text-align: center;
    justify-content: center;
    align-content: center;
    width: 280px;
    height: 500px;
}
.card button{

}

.card form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card label {
    text-align: left;
    font-size: 14px;
}

.card input {
    padding: 8px;
    
    border: none;
    border-radius: 6px;
    outline: none;
}

.card button {
    background: white;
    margin: 20px;
    color: #c45d5d;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.card button:hover {
    background: #f2f2f2;
}

.logo {
    font-size: 30px;
    margin-bottom: 15px;
    background-image: url('LOG.png');
}
#profile{
    width: 72px;
    height: 72px;
    transform: translate(+20px, +20px);
    position: absolute;
    background-image: url('eu.jpg');
    background-size: contain;
    border-radius: 50%;
}


/* --- LOJA --- */
.loja {
    background: #c45d5d;
    margin: 100px auto;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    width: 90%;
}
#search{
    justify-content: center;
    text-align: center;
    align-content: center;
    width: 88%;
    display: block;
    position: absolute;
    transform: translate(+110px, +180px);
    margin: auto;
    height: 80px;
    background-image: url("back.jpg");
}
#search input{
    box-sizing: border-box;
    padding: 0px 12px 0px 12px;

    width: 90%;
    height: 40px;
}

.jogo {
    width: 220px;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    transition: 0.3s;
}

.jogo:hover {
    transform: scale(1.05);
}

.jogo img {
    width: 220px;
    height: 320px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.preco {
    font-weight: bold;
    background: rgba(0,0,0,0.3);
    padding: 5px;
    text-align: center;
    margin: auto;
    border-radius: 5px;
}

/* --- DETALHE DO JOGO --- */
.detalhe-card {
    background: #c45d5d;
    border-radius: 10px;
    height: fit-content;
    width:80%;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    text-align: center;
}



.banner {
    width: 100%;
    height:fit-content;
    background-clip: border-box;
    max-width: 1200px;
    border-radius: 10px;
}

.add-btn {
    background: #32a852;
    color: rgb(255, 255, 255)(55, 255, 255);
    font-weight: bold;
    font-size: 20px;
    border-radius: 8px;
    padding:24px 60px;
    display: inline-block;
    position: absolute;
    transform: translate(-100px, 590px);
    margin-top: 10px;
}

#criadaconta{
    padding: 24px;
}

#loginbtn{
    margin: 40px!important;
}

.screenshots {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    gap: 10px;
}

.screenshots img {
    width: 30%;
    border-radius: 10px;
}

.detalhe-card p {
    margin:30px auto;
    line-height: 24px;
    font-weight: 700;
    width: 800px;
    font-size: 14px;
    text-align: center;
}

.detalhe-card button {
    background: white;
    color: #c45d5d;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
}
